/* I love Roboto!! */

body {
    font-family: 'Roboto', sans-serif;
    color: #222;
    font-size: 1em;
    font-weight: 300;

    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

b {
    font-weight: 500;
}

#nav-projects {
    padding: 0 1.5em;
}

#name {
    background: #eee;
    font-size: 4em;
    font-weight: 100;
}

#description {
    font-size: 1.4em;
    font-weight: 300;
}

#section-header {
    padding: 2em 2em 1em 2em;
}

#section-navbar {
    color: #fff;
    background-image: linear-gradient(135deg, #79F1A4 0%, #0E5CAD 100%);
    padding: 1em 2em;
    font-weight: 300;
}

#section-content-tag {
    padding: 2em 2em 1em 2em;
}

#content-tag {
    padding: 0.3em 0.4em;
    background-color: #000;
    color: #fff;
    font-weight: 500;
}

@supports (mix-blend-mode: lighten) {
    #name {
        display: inline-block;
        position: relative;
        color: #000;
        background: #fff;
        mix-blend-mode: multiply;
    }

    #name::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: -webkit-linear-gradient(135deg, #623AA2, #F97794);
        background:    -moz-linear-gradient(135deg, #623AA2, #F97794);
        background:     -ms-linear-gradient(135deg, #623AA2, #F97794);
        background:      -o-linear-gradient(135deg, #623AA2, #F97794);
        background:         linear-gradient(135deg, #623AA2, #F97794);
        pointer-events: none;
        mix-blend-mode: screen;
    }
}
