body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-weight: 300;

    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #0E5CAD
}

b {
    font-weight: 500;
}

p {
    line-height: 140%;
}

hr {
    border: none;
    height: 1px;
    background-color: #eee;
}

.grey {
    color: #555;
}

.small {
    color: #555;
    font-size: 0.9em;
}

.side-padded {
    padding: 0 2em;
}

.block {
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    color: white;
    position: relative;
}

.block > img {
    position: relative;
    width: 40%;
    padding: 5%;
    display: block;
    margin: 0 auto;
}

.block > span {
    position: absolute;
    bottom: 0;
    right: 0.2em;
    font-weight: 100;
    font-size: 5em;
}

#block-rust {
    background-image: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%);
}

#block-zulip {
    background-image: linear-gradient( 135deg, #F97794 10%, #623AA2 100%);
}

/* Header */

#header .box {
    display: flex;
    font-weight: 100;
    width: 100%;
    align-items: center;
    padding: 0.5em 0;
}

#name {
    background: #eee;
    font-size: 3em;
}

#name > a {
    color: initial;
}

#blog-link {
    font-size: 1.2em;

    margin-left: auto;
    color: #333;
}

/* Home : about */

#about h2 {
    margin-top: 0;
}

/* Blog */

#blog {
    font-size: 1.2em;
}

#blog table {
    border: 0;
}

#blog table .description {
    font-size: 0.9em;
}

.blank-row {
    height: 0.5em;
}

/* Content tag */

#content-tag {
    padding: 2em;
}

#content-tag span {
    padding: 0.3em 0.4em;
    background-color: #222;
    color: #fff;
    font-weight: 500;
}

/* Main "Tommy Ip" header */
@supports (mix-blend-mode: lighten) {
    #name {
        display: inline-block;
        position: relative;
        color: #000;
        background: #fff;
        mix-blend-mode: multiply;
    }

    #name::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: -webkit-linear-gradient(135deg, #623AA2, #F97794);
        background:    -moz-linear-gradient(135deg, #623AA2, #F97794);
        background:     -ms-linear-gradient(135deg, #623AA2, #F97794);
        background:      -o-linear-gradient(135deg, #623AA2, #F97794);
        background:         linear-gradient(135deg, #623AA2, #F97794);
        pointer-events: none;
        mix-blend-mode: screen;
    }
}
