body {
    font-family: 'Roboto', sans-serif;
    color: #222;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 2em;

    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #0E5CAD
}

b {
    font-weight: 500;
}

.side-padded {
    padding-left: 2em;
    padding-right: 2em;
}

#nav-projects {
    /* TODO: Make each nav link equal */
    padding: 0 1.5em;
}

#name {
    background: #eee;
    font-size: 4em;
    font-weight: 100;
}

#description {
    font-size: 1.4em;
    font-weight: 300;
}

#section-header {
    padding-top: 2em;
    padding-bottom: 1em;
}

#section-navbar {
    color: #fff;
    font-weight: 300;
    background: -webkit-linear-gradient(135deg, #79F1A4, #0E5CAD);
    background:    -moz-linear-gradient(135deg, #79F1A4, #0E5CAD);
    background:     -ms-linear-gradient(135deg, #79F1A4, #0E5CAD);
    background:      -o-linear-gradient(135deg, #79F1A4, #0E5CAD);
    background:         linear-gradient(135deg, #79F1A4, #0E5CAD);
    padding-top: 1em;
    padding-bottom: 1em;
}

#section-navbar a {
    color: #fff;
}

#section-footer {
    color: #555;
    line-height: 40%;
}

#section-content-tag {
    padding: 2em;
}

#content-tag {
    padding: 0.3em 0.4em;
    background-color: #000;
    color: #fff;
    font-weight: 500;
}

#post-title {
    font-size: 2em;
}

#post-date {
    color: #555;
}

#post-content {
    font-size: 1em;
}

@supports (mix-blend-mode: lighten) {
    #name {
        display: inline-block;
        position: relative;
        color: #000;
        background: #fff;
        mix-blend-mode: multiply;
    }

    #name::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: -webkit-linear-gradient(135deg, #623AA2, #F97794);
        background:    -moz-linear-gradient(135deg, #623AA2, #F97794);
        background:     -ms-linear-gradient(135deg, #623AA2, #F97794);
        background:      -o-linear-gradient(135deg, #623AA2, #F97794);
        background:         linear-gradient(135deg, #623AA2, #F97794);
        pointer-events: none;
        mix-blend-mode: screen;
    }
}
