---
layout: default
permalink: /blog/
tag: BLOG
---

<div class="row side-padded" id="section-blog">
  <div class="col-xs-0 col-md-1"></div>
  <div class="col-xs-12 col-md-10">
    <div class="box">
      <table id="blog-listing">
        {% for post in site.posts %}
          <tr id="blog-item">
            <td class="grey">{{ post.date | date_to_string }}</td>
            <td>
              <a href="{{ post.url }}"><b>{{ post.title }}</b></a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="blog-listing-description grey">{{ post.description }}</td>
          </tr>

          <tr class="blank-row">
            <td colspan="2"></td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-xs-0 col-md-1"></div>
  </div>
</div>
