---
layout: default
permalink: /
tag: ABOUT
---

<div class="row side-padded" id="section-about">
  <div class="col-xs-0 col-md-1"></div>
  <div class="col-xs-12 col-md-5">
    <div class="box p">
      <h2>
        Hi! I am King Ham "Tommy" Ip, a software engineer, high school student
        and an open source advocate.
      </h2>
      <p>
        For the past few years, I have worked on open source projects ranging from
        <i>Zulip</i> - a powerful group chat application, to <i>Rust</i> - a
        blazing fast system programming language.
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-md-5">
    <div class="box">
      Contact info
    </div>
  </div>
  <div class="col-xs-0 col-md-1"></div>
</div>
