---
layout: default
---

{% include content_tag.html tag="blog" %}

<section class="row side-padded">
  <div class="col-xs-0 col-md-2"></div>
  <div class="col-xs-12 col-md-8">
    <p class="box">
      <h1><b>{{ page.title | escape }}</b></h1>
      <span class="small">&#187; Written on {{ page.date | date: "%-d %B %Y" }}</span>
      {{ content }}
    </p>
  </div>
  <div class="col-xs-0 col-md-2"></div>
</section>

{% if page.comments %}
  <div class="row side-padded">
    <div class="col-xs-0 col-md-2"></div>
      <div class="col-xs-12 col-md-8">
        <div class="box" id="disqus_thread"></div>
      </div>
    <div class="col-xs-0 col-md-2"></div>
  </div>

  <script>
  var disqus_config = function () {
    this.page.url = "http://tommyip.me{{ page.url }}";
    this.page.identifier = "{{ page.id }}";
  };

  (function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://tommy-ip.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
