---
layout: default
tag: BLOG
---

<div class="row side-padded">
  <div class="col-xs-offset-0 col-sm-offset-1 col-xs-12 col-md-10">
    <div class="box">
      <div id="post-title"><b>{{ page.title | escape }}</b></div>
      <p id="post-date"><i>Written on {{ page.date | date: "%-d %B %Y" }}</i></p>
    </div>
  </div>
</div>
<div class="row side-padded">
  <div class="col-xs-offset-0 col-sm-offset-1 col-xs-12 col-md-10">
    <div class="box" id="post-content">
      {{ content }}
    </div>
  </div>
</div>
